@media only screen and (max-width: 1000px) {
    #part1 {
        flex-basis: 45%;
        background-repeat: repeat;
        background-position: center top;
    }

    #part2 {
        flex-basis: 55%;
    }

    #titulo {
        font-size: 1.2em;
    }

    #subt {
        font-size: 1.3em;
    }
}


@media only screen and (max-width: 650px) {
    #part1 {
        display: none;
    }

    #part2 {
        flex-basis: 100%;
        gap: 10px;
    }

    #principal {
      font-size: 1.2em;
      max-width: 300px;
      padding: 20px 25px 25px 25px;
    }

}

@media only screen and (max-width: 400px) {
    body {
        background-color: #80CCE6;
    }

    #titulo {
        font-size: 1.1em;
    }

    #principal {
        font-size: 1.1em;
        padding: 15px 20px 20px 20px;
    }

    #rodape {
        font-size: 18px;
    }
}